body {
  margin: 0;
}

#canvas {
  width: 100%;
  height: calc(103vh - 74px);
  margin: 0 auto;
}

.pubImage{
  width: 300px;
}

.logo{
  height: 30px;

  display: block;

}
.title{
  display: block;

}

.navbar-default {
  background: white;
  border-color: white;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background: white;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;

}

.navbar-form .form-control {
  min-width: 200px;
}

.navbar-form {
  .btn-default {
    background: #334d5c;
    border-color: #334d5c;
    color: #efca55;
    &:hover {
      background: #334d5c;
      border-color: #334d5c;
      color: white;
    }
  }
}

.navbar-brand>img {
  display: inline-block;
  margin-top: -5px;
}
//footer form buttons--------
.modal-footer {
    .btn {
      background: #334d5c;
      border-color: #334d5c;
      color: #efca55;
      &:hover {
        background: #334d5c;
        border-color: #334d5c;
        color: white;
      }
    }
  }

//log in and register buttons--------
  .navbar-default {
     .navbar-nav>li>a {
           background: #334d5c;
           border-color: #334d5c;
           color: #efca55;
           margin: 1px;
           border-radius: 5px;
           &:hover {
             background: #334d5c;
             border-color: #334d5c;
             color: white;

           }
         }
       }
